on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    install_keyring

on init
    setprop crypto.ready 1

service vendor.qseecomd /vendor/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vibrator-service /vendor/bin/vendor.qti.hardware.vibrator@1.2-service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0

on boot
    start vibrator-service
    start health-hal-2-1

on property:crypto.ready=0
    stop vendor.qseecomd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager

on property:crypto.ready=1
    start vendor.qseecomd

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0
    start servicemanager

on property:twrp.super.symlinks_created=true
    start patchfstab

service patchfstab /system/bin/patchfstab.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
